body{
    background-color: #F8F8FF;
    font-family: sans-serif;
}
p{
    font-size: 18px;
}
a{
    text-decoration:none;
}
h3+ul{
    margin-top:-17px;
}

div{/*for Relevant Coursework section*/
    font-style: italic;
    text-indent: 50px;
    margin-top: -17px;
    list-style-position: inside;
}

div ul li{
    font-style:normal;
    text-indent: 10px;
    list-style-position:inside;
    text-align:left;
}


