*{
    background-color: #F8F8FF;
    font-family:sans-serif;
    text-decoration:none;
}
p{
    font-size:18px;
}
h3{
    font-weight:bold;
}
ul{
    margin-top:-10px;
    margin-bottom:-5px;
}
.tab{
    text-indent:30px;
}
.list li{ /*list formatting*/
    font-size:18px;
}
.list p{
    margin-top:0px;
    margin-bottom:0px;
    /*how do i keep the indent for all lines, not just first*/
    text-indent:30px;
    font-size:16px;
}
.footer{
    position:fixed;
    bottom:0;
}
.footer span{/*top right bottom left*/
    margin: 0 80px 20px 80px;
}
	     

