*{
    background-color: #F8F8FF;
    font-family:sans-serif;
    text-decoration:none;
}
html, body{
    height:100%;
}
.main{
    min-height:100%;
    margin-bottom:-40px;
}
.main:after{
    content:"";
    display:block;
}
.footer,.main:after{
    height:40px;
}
img{
    height:auto;
    width:auto;
    max-height:450px;
    max-width:450px;
     transform:rotate(90deg);
}
#td1{
    width:400px;
    height:0px;
}
#img1{
    position:absolute;
    left:-5px;
    top:85px;
}
#img_caption1{
    position:absolute;
    top:465px;
    left:150px;
}
p{
    font-size:18px;
}
h3{
    font-weight:bold;
}
ul{
    margin-top:-10px;
    margin-bottom:-5px;
}
.tab{
    text-indent:30px;
}
.list li{ /*list formatting*/
    font-size:18px;
}
.list p{
    margin-top:0px;
    margin-bottom:0px;
    /*how do i keep the indent for all lines, not just first*/
    text-indent:30px;
    font-size:16px;
}
#left_footer{
    margin: 0 0 0 20px;
}
#left_footer2{
    margin: 0 0 0 50px;
}
.footer span{/*top right bottom left*/
    margin: 0 80px 20px 80px;
}
	     

